version: '3.8'

services:
  nginx:
      image: nginx:alpine
      ports:
        - "80:80"
      volumes:
        - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      depends_on:
        - frontend
        - backend
        - proxy
      restart: unless-stopped
      networks:
        - opentube-network

  frontend:
    image: opentube-frontend:dev
    build:
      context: ../OpenTube-Frontend
      dockerfile: dockerfile.dev
    expose:
      - "3000"
    depends_on:
      - proxy
      - backend
    restart: unless-stopped
    networks:
      - opentube-network

  proxy:
    image: opentube-proxy:dev
    build:
      context: ../OpenTubeStreamProxy
      dockerfile: dockerfile
    expose:
      - "8081"
    restart: unless-stopped
    networks:
      - opentube-network

  backend:
    image: opentube-backend:dev
    build:
      context: ../NewPipeExtractorApi
      dockerfile: dockerfile
    expose:
      - "8080"
    volumes:
      - backend-data:/app/data
    restart: unless-stopped
    networks:
      - opentube-network

volumes:
  backend-data:
    driver: local

networks:
  opentube-network:
    driver: bridge
